/* School.css */

/* Container chính của Banner */
.banner-school-root {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    height: 250px; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fffcfc;
}

/* Style cho hình nền */
.banner-school-image {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}


