.list-card-section {
  padding: 40px 20px;
  background-color: #f9fbff;
}

.branch-group {
  max-width: 1200px;
  margin: 0 auto 60px auto;
}

.branch-title {
  color: #1a3761 !important;
  font-weight: 700 !important;
  margin-bottom: 25px !important;

  padding-left: 15px;
  text-transform: uppercase;
}

/* Ghi đè Grid Root */
.course-grid-root {
  width: 100%;
  display: grid;
  max-width: 1180px ;
  grid-template-columns: repeat(4, 1fr) !important;
  margin: 0 !important;
}

/* Nút Xem thêm */
.load-more-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.MuiButton-root.btn-load-more-root {
  border: 1px solid #1a3761 !important;
  color: #1a3761 !important;
  text-transform: none !important;
  padding: 8px 30px !important;
  font-weight: 700 !important;
  border-radius: 20px !important;
}

.MuiButton-root.btn-load-more-root:hover {
  background-color: #1a3761 !important;
  color: #fff !important;
}

/* Style cho CourseCard khi nằm trong Grid này */
.course-item-root {
  
  padding: 12px !important;
}

